.authBlock {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 50px;
}

.authBlock h3 {
    color: cadetblue;
}

.authBlock button {
    color: brown;
}

.redirect {
    cursor: pointer;
    font-weight: bold;
}
