<div id="container-cadastro">
    <div id="content-cadastro">
        <h2>Cadastre-se</h2>
        <form [formGroup]="formCadastro" class="form-cadastro" id="form-cadastro">
            <!-- nome -->
            <label for="name">Nome:</label>
            <input class="input" type="text" #nomeCadastro name="" placeholder="José Silva" id="name" (blur)="verifyName($event)" formControlName='nome' [ngClass]="{'input-blank': nomeVazio && !nome?.valid , 'input-valid': !nome?.pristine && nome?.valid}" />
            <span id="error-login" class="span-error hide">Digite seu nome e sobrenome!</span >
            <span id="error-login" class="span-error " *ngIf="nomeVazio && !nome?.valid" >Não esqueça seu nome!</span>
            <!-- email -->
            <label for="email">Email:</label>
            <input type="email" name="email" email="true" (keyup)="verifyEmailKd()" (blur)="verifyEmail($event)" placeholder="exemplo@email.com" id="email" formControlName='email' [ngClass]="{'input-blank': email?.pristine && emailVazioCad || (!email?.pristine && email?.invalid), 'input-valid':
            !emailVazioCad && email?.pristine && email?.valid}" />
            <span id="error-login" class="span-error " *ngIf="emailVazioCad && email?.pristine">Digite seu email.</span >
            <span id="error-login" class="span-error " *ngIf="!email?.pristine && !email?.valid">Email inválido!</span >
              <!-- confirme email -->
            <label for="email-confirm">Confirme seu email:</label>
            <input type="email" name=""  placeholder="exemplo@email.com"  id="email-confirm" (blur)="verifyConfEmail($event)" id="email" formControlName='confEmail'
            [ngClass]="{'input-blank': confEmail?.pristine && confEmailVazio || (!confEmail?.pristine && email?.value !== confEmail?.value ), 'input-valid': !confEmail?.pristine && email?.value === confEmail?.value}"/>
            <span id="error-login" class="span-error " *ngIf="confEmail?.pristine && confEmailVazio || (!confEmail?.pristine && email?.value !== confEmail?.value)">Os email estão diferentes!</span >
              <!-- senha -->
            <label for="senha">Senha</label>
            <input type="password" placeholder="Senha" id="senha" (blur)="verifySenha($event)" formControlName='senha' [ngClass]="{'input-blank': senha?.pristine && senhaVaziaCad || (!senha?.pristine && !senha?.valid) , 'input-valid': !nome?.pristine && nome?.valid}"/>
            <span id="error-password" class="span-error" *ngIf="senha?.pristine && senhaVaziaCad ">Digite sua senha.</span>
            <span id="error-password" class="span-error" *ngIf="!senha?.pristine && !senha?.valid">A senha deve conter no mínimo 6 caracteres.</span>
            <!-- botoes -->
            <div class="align-buttons">
                <button (click)="voltar()" class="voltar-cadastro">Voltar</button>
                <button (click)="authService.SignUp(email?.value,senha?.value,nomeCadastro.value, idPai, '')" class="salvar-cadastro">Salvar</button>
            </div>
        </form>
        <div class="outras-opcoes-login">
            <button type="button" id="customBtnGoogle" class="btn googleBtn " (click)="authService.GoogleAuth()">
            <img class="icon" src="/assets/images/logo-google.png" />
            <span class="buttonText">Log in with Google</span>
        </button>
        </div>
    </div>
</div>