<div>
    <div class="select-graph-title">
        <!-- <h3>Tipo de Gráfico</h3> -->
        <label class="select-graph">
          <select class="form-select" (change)="tipoGrafico($event.target)">
            <option selected value="qtd-categoria">Quantidade de despesas por categoria</option>
            <option value="total-mes" >Total de despesas por mês</option>
            <option value="total-despesa-categoria">Total de despesas por categoria</option>
          </select>
        </label>
    </div>
    <p *ngIf="!possuiRegistros" class="semGraficos">Nenhuma despesa cadastrada!</p>
    <div *ngIf="possuiRegistros" class="graphs">
        <div *ngIf="showTotalMes" class="chart-wrapper graficos-card">
            <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" [plugins]="lineChartPlugins">
            </canvas>
        </div>
        <div *ngIf="showTotalDespesaCategoria" class="chart-wrapper graficos-card">
            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
            </canvas>
        </div>
        <div *ngIf="showQtdCategoria" class="chart-wrapper graficos-card">
            <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType">
            </canvas>
        </div>
    </div>
</div>