.login-btn {
    margin-right: 24px;
    text-decoration: none;
    color: cadetblue;
    font-weight: bold;
}

.cadastro-btn {
    margin-right: 24px;
    text-decoration: none;
    color: cadetblue;
    font-weight: bold;
}

.logo-icon {
    width: 25px;
    margin-left: 24px;
    margin-right: 10px;
}

.left-nav {
    display: flex;
    align-items: center;
}
